
body {
    font-family: 'Raleway', sans-serif;
    background: rgb(62, 182, 78);
    background: linear-gradient(90deg, rgba(62, 182, 78, 1) 16%, rgba(0, 181, 255, 1) 57%);
    color: white;
}

#c1 {
    height: 110px;
    margin-top: -10px;
}

#i1 {
    height: 35px;
    width: 350px;
    font-size: 15px;
    border-radius: 8px;
    border-width: 1px;
    text-align: center;
    color:black;
    font-size:20px;
}

#i1::placeholder {
    text-align: center;
}

#b1 {
    height: 35px;
    width: 80px;
    font-size: 14px;
    border-radius: 5px;
    border-width: 1px;
    background-color:white;
    box-shadow:2px 2px 15px blueviolet;
    color:black;
    font-size:20px;

}

#d1{
    width:70%;
   padding:10px;
   background-color:white;
   color:black;
   font-size:20px;
   height:60%;
   overflow: scroll;
   border-radius:15px;
}